[package]
name = "{{package_name}}"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["lib", "dylib"]

[dependencies]
spirv-std = "0.9.0"
bytemuck = { version = "1.15.0", features = ["derive"] }
{{#if shader_utils}}

shader_utils = { version = "0.1.0", path = "../../../crates/shader_utils" }
{{/if}}